In [1]:
from analysis.modules.moving_average import moving_average_analysis

In [2]:
result = moving_average_analysis('NKG', investment_preference = [(10,20),(20,50)])

In [3]:
result['p_df']

,date,close_price,volume,sma_10,ema_10,sma_20,ema_20,sma_50,ema_50
0,2011-01-14,8.3311,954580,NaN,8.331100,NaN,8.331100,NaN,8.331100
1,2011-01-17,8.7212,1282900,NaN,8.545655,NaN,8.535903,NaN,8.530051
2,2011-01-18,9.1391,1244920,NaN,8.784216,NaN,8.757393,NaN,8.741241
3,2011-01-19,9.5849,1070570,NaN,9.048006,NaN,8.996281,NaN,8.964976
4,2011-01-20,9.9750,1150840,NaN,9.314121,NaN,9.233025,NaN,9.183458
...,...,...,...,...,...,...,...,...,...
2687,2021-10-28,55.6000,6005100,54.29,53.775824,51.1575,51.429713,44.728418,46.065888
2688,2021-10-29,54.4000,19314300,54.54,53.889311,51.6375,51.712597,45.116446,46.392716
2689,2021-11-01,53.3000,13646000,54.59,53.782163,51.9125,51.863778,45.484140,46.663590
2690,2021-11-02,53.0000,10912800,54.57,53.639952,52.1925,51.971990,45.885000,46.912077
2691,2021-11-03,50.5000,18305400,54.05,53.069052,52.3025,51.831801,46.235000,47.052780

In [4]:
result['p_sma_df'][result['p_sma_df']['state_20_50'] == 'bull']

            date  close_price   volume state_10_20 state_20_50
59    2011-04-19       7.0494    90230        wait        bull
102   2011-06-21       6.7150    31340        wait        bull
169   2011-09-23       5.6170    15510        wait        bull
307   2012-04-13       4.5823     3180        wait        bull
446   2012-10-30       3.9171       90        wait        bull
485   2012-12-24       3.7323    10110        bear        bull
524   2013-02-26       4.3236       10        wait        bull
581   2013-05-22       3.7693   100860        wait        bull
685   2013-10-16       3.2889   116490        wait        bull
726   2013-12-12       3.2150    10370        bear        bull
752   2014-01-20       3.5106    92030        wait        bull
864   2014-07-10       3.6584    84100        wait        bull
937   2014-10-23       4.6192   265040        wait        bull
997   2015-01-19       5.9126   605430        wait        bull
1097  2015-06-22       5.0996    14710        wait        bull
1172  2015-10-06       5.3082    32440        wait        bull
1264  2016-02-19       5.4143    46870        wait        bull
1468  2016-12-07      16.0155   117260        wait        bull
1506  2017-02-07      16.2885   292190        wait        bull
1543  2017-03-30      17.8581  1098450        bull        bull
1659  2017-09-14      22.6571   388670        wait        bull
1848  2018-06-21      16.6144    66670        wait        bull
1919  2018-10-01      15.2911  5723590        wait        bull
2022  2019-03-05       7.7926  1724800        wait        bull
2108  2019-07-09       6.2145   370840        wait        bull
2140  2019-08-22       6.5183   647920        wait        bull
2190  2019-11-01       5.9400   144460        wait        bull
2318  2020-05-12       6.7144  3064490        wait        bull
2399  2020-09-03       7.3515  2793140        wait        bull
2635  2021-08-13      32.7904  8269100        wait        bull

In [5]:
result['p_ema_df']

            date  close_price    volume state_10_20 state_20_50
0     2011-01-14       8.3311    954580        wait        wait
1     2011-01-17       8.7212   1282900        wait        wait
2     2011-01-18       9.1391   1244920        wait        wait
3     2011-01-19       9.5849   1070570        wait        wait
4     2011-01-20       9.9750   1150840        wait        wait
...          ...          ...       ...         ...         ...
2687  2021-10-28      55.6000   6005100        wait        wait
2688  2021-10-29      54.4000  19314300        wait        wait
2689  2021-11-01      53.3000  13646000        wait        wait
2690  2021-11-02      53.0000  10912800        wait        wait
2691  2021-11-03      50.5000  18305400        wait        wait

[2692 rows x 5 columns]

In [6]:
result['v_df']

,date,close_price,volume,sma_10,ema_10,sma_20,ema_20,sma_50,ema_50
0,2011-01-14,8.3311,954580,NaN,9.545800e+05,NaN,9.545800e+05,NaN,9.545800e+05
1,2011-01-17,8.7212,1282900,NaN,1.135156e+06,NaN,1.126948e+06,NaN,1.122023e+06
2,2011-01-18,9.1391,1244920,NaN,1.179280e+06,NaN,1.170267e+06,NaN,1.164638e+06
3,2011-01-19,9.5849,1070570,NaN,1.143465e+06,NaN,1.141486e+06,NaN,1.139692e+06
4,2011-01-20,9.9750,1150840,NaN,1.145582e+06,NaN,1.143748e+06,NaN,1.142103e+06
...,...,...,...,...,...,...,...,...,...
2687,2021-10-28,55.6000,6005100,8301720.0,7.879211e+06,7863745.0,7.879747e+06,8141518.0,7.753170e+06
2688,2021-10-29,54.4000,19314300,9276520.0,9.958318e+06,8332190.0,8.968752e+06,8367374.0,8.206548e+06
2689,2021-11-01,53.3000,13646000,9596050.0,1.062881e+07,8454515.0,9.414204e+06,8539438.0,8.419860e+06
2690,2021-11-02,53.0000,10912800,10096000.0,1.068044e+07,8655505.0,9.556928e+06,8480684.0,8.517622e+06
2691,2021-11-03,50.5000,18305400,11191320.0,1.206680e+07,9224115.0,1.039012e+07,8703480.0,8.901456e+06

In [7]:
result['v_sma_df']

            date  close_price    volume state_10_20 state_20_50
0     2011-01-14       8.3311    954580        wait        wait
1     2011-01-17       8.7212   1282900        wait        wait
2     2011-01-18       9.1391   1244920        wait        wait
3     2011-01-19       9.5849   1070570        wait        wait
4     2011-01-20       9.9750   1150840        wait        wait
...          ...          ...       ...         ...         ...
2687  2021-10-28      55.6000   6005100        wait        wait
2688  2021-10-29      54.4000  19314300        wait        wait
2689  2021-11-01      53.3000  13646000        wait        wait
2690  2021-11-02      53.0000  10912800        wait        bull
2691  2021-11-03      50.5000  18305400        wait        wait

[2692 rows x 5 columns]

In [8]:
result['p_ema_df']

            date  close_price    volume state_10_20 state_20_50
0     2011-01-14       8.3311    954580        wait        wait
1     2011-01-17       8.7212   1282900        wait        wait
2     2011-01-18       9.1391   1244920        wait        wait
3     2011-01-19       9.5849   1070570        wait        wait
4     2011-01-20       9.9750   1150840        wait        wait
...          ...          ...       ...         ...         ...
2687  2021-10-28      55.6000   6005100        wait        wait
2688  2021-10-29      54.4000  19314300        wait        wait
2689  2021-11-01      53.3000  13646000        wait        wait
2690  2021-11-02      53.0000  10912800        wait        wait
2691  2021-11-03      50.5000  18305400        wait        wait

[2692 rows x 5 columns]