In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
os.chdir("..")

In [4]:
from utils.utilities import get_engine
from datetime import datetime
import pandas as pd

In [5]:
engine = get_engine()

In [9]:
# get efficient frontier optimization on HSX
query = """
    SELECT
        stock_code,
        date,
        close_price
    FROM public.transaction
    WHERE 
        stock_exchange = 'HSX'
"""
df = pd.read_sql_query(query, engine)
df

       stock_code        date  close_price
0             ELC  2021-06-11        14.65
1             VNL  2021-06-25        19.10
2             VNM  2021-06-25        89.70
3             VNS  2021-06-25         9.58
4             VOS  2021-06-25         8.42
...           ...         ...          ...
868874        NLG  2021-06-30        39.00
868875        NNC  2021-06-30        26.00
868876        SMA  2021-06-30         9.29
868877        SMB  2021-06-30        42.00
868878        SMC  2021-06-30        40.05

[868879 rows x 3 columns]

In [19]:
stocks = df['stock_code'].unique()
close_data = None
for stock in stocks:
    stock_data = df[df['stock_code'] == stock][['date', 'close_price']]
    stock_data.index = stock_data['date']
    stock_data = stock_data.drop('date', axis = 1).sort_index()
    stock_data = stock_data.rename(columns = {
        'close_price' : stock
    })
    if close_data is None:
        close_data = stock_data
    else:
        close_data = close_data.merge(stock_data, how = 'outer', left_index = True, right_index = True)

In [22]:
close_data = close_data.fillna(0.0)
close_data

,ELC,VNL,VNM,VNS,VOS,VPB,VPD,VPG,VPH,VPI,...,BBC,CYC,VNA,VNH,ATA,GTT,PXL,VLF,BT6,TTP
date,,,,,,,,,,,,,,,,,,,,,
2000-07-28,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-07-31,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-08-02,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-08-04,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-08-07,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-24,15.75,18.5,88.7,9.48,7.87,68.6,14.45,36.4,5.39,35.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-06-25,15.90,19.1,89.7,9.58,8.42,68.2,14.35,36.8,5.27,35.05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-06-28,16.10,19.1,89.2,9.58,8.57,68.0,14.35,37.1,5.44,35.10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-06-29,16.10,19.0,91.0,9.60,7.98,66.9,14.25,36.9,5.40,35.70,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-06-30,16.00,19.2,90.4,9.58,7.43,67.7,14.40,36.8,5.77,35.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0